<?xml version="1.0"?>
<config>
    <modules>
        <Mamis_DeleteShipment>
            <version>1.0.0</version>
        </Mamis_DeleteShipment>
    </modules>
    <global>
        <models>
            <mamis_deleteshipment>
                <class>Mamis_DeleteShipment_Model</class>
            </mamis_deleteshipment>
        </models>
        <blocks>
            <mamis_deleteshipment>
                <class>Mamis_DeleteShipment_Block</class>
            </mamis_deleteshipment>
        </blocks>
        <helpers>
            <mamis_deleteshipment>
                <class>Mamis_DeleteShipment_Helper</class>
            </mamis_deleteshipment>
        </helpers>
    </global>
    <admin>
        <routers>
            <mamis_deleteshipment>
                <use>admin</use>
                <args>
                    <module>Mamis_DeleteShipment</module>
                    <frontName>mamis_deleteshipment</frontName>
                </args>
            </mamis_deleteshipment>
            <adminhtml>
                <args>
                    <modules>
                        <Mamis_DeleteShipment after="Mage_Adminhtml">Mamis_DeleteShipment_Adminhtml</Mamis_DeleteShipment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mamis_MailChimp>
                    <files>
                        <default>Mamis_MailChimp.csv</default>
                    </files>
                </Mamis_MailChimp>
            </modules>
        </translate>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <mamis_deleteshipment>
                        <class>mamis_deleteshipment/observer</class>
                        <type>singleton</type>
                        <method>addDeleteButton</method>
                    </mamis_deleteshipment>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
</config>